.titre {
    font-family: 'Ubuntu Mono', monospace;

}
/* .fondecrans {
    position: relative;
    overflow: hidden;
  } */

  .kenburns-bg {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
  }

  .content {
    position: relative;
    
    text-align: center;
    padding: 50px;
  }
  .titre {
    opacity: 0;
    animation: fadeIn 6s ease-in-out forwards;
    -webkit-animation: fadeIn 6s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
